*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* font-family: "SUSE", sans-serif; */
html{
    font-size:16px;
    color:#383838;
    overflow-x: hidden;
   
}
body{
    font-family: "SUSE", sans-serif
}
.padd-50{
    padding:50px;
}

.pt-20{
    padding-top:20px;
}
header{
    display: flex;
    justify-content: space-between;
    font-family: "SUSE", sans-serif;
    align-items: center;
    padding:25px;

}
header nav ul{
    display: flex;
    list-style: none;
   
}
header nav ul li{
    padding:10px 15px;
    font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color:inherit;
}
header nav ul li:last-child{
    border:1px solid black;
    border-radius: 12px;
    background-color: #d5ffa5;
}
.tagline{
    font-size: 30px;
}

header .container-tagline{
    display: flex;
    align-items: center;
}

.section1{
    /* background-color: aliceblue; */
    height:82vh;
    display:flex;
    padding:30px 2%;
    align-items: center;
}
.section1>div{width:50%;}

.img-responsive{
    width:100%;
    height:auto;
}
.section1>div .inner-fbox{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.main-title{
    font-size: 55px;
    font-weight: 400;
    line-height: 1.1;
}
.data1{
    font-size: 20px;
}
.cta{
    margin-top:40px;
}
.cta a{
    background-color: #2b2b2b;
    color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 9px;
    text-decoration: none;
}

.section2{
    
    height:20vh;
    display:flex;
    padding:30px 2%;
    align-items: center;
    justify-content: space-evenly;
}

.section2>div img{
    width:150px;
}

.section3{
    
    height:20vh;
    display:flex;
    padding:30px 2%;
    align-items: center;
    justify-content: space-evenly;
}

.section3 .lbl-service{
    background-color: #85e617;
    font-size: 34px;
    color: #383838;
    font-weight: 600;
    padding: 0 2px;
    font-family: system-ui;
    letter-spacing: 1.2px;
    border-radius: 2px;
}

.section3 .data-service{
    font-size: 21px;
}


.section4{
    
    height:60vh;
    display:flex;
    flex-wrap: wrap;
    padding:30px 2%;
    align-items: center;
    justify-content: space-evenly;
}
.section4>div{
    width: 40%;
    margin: 10px 40px;
    min-height: 200px;
    border-radius: 20px;
    padding: 20px;
    border: 3px solid black;
}

.section4 .light{
    background-color:rgb(202, 253, 198);
    box-shadow:0px 5px 1px 1px black;
}

.light label{
    font-size: 25px;
    background-color: #2df538;
    padding: 3px 11px;
    line-height: 1.4;
}
.dark label{
    font-size: 25px;
    background-color: white;
    padding: 3px 11px;
    line-height: 1.4;
}
.section4 .dark{
    background-color:#383838;
   
}

.sec4-innerfbox{
    display:flex;
    justify-content: space-between;
}

.sec4-innerfbox img{
    width:300px;
    
}
.light img{
    mix-blend-mode: multiply;
}
.dark img{
    mix-blend-mode: hard-light;
}